#java specific
*.class
#netbeans ignore personal stuff
nbproject/private/
## generic files to ignore
bin
target
*~
*.lock
*.DS_Store
*.swp
*.out
!.github
# Eclipse files
.project
.classpath
.settings
**org.eclipse.reddeer**
parent.iml
plugins.iml
test-apps.iml
tests.iml
vcs.xml
modules.xml
misc.xml
**Maven__org**
**Maven__net**
Maven__javax**
jarRepositories.xml
features.iml
encodings.xml
compiler.xml
.idea\.gitignore
**workspaces.xml**
